
h1 {
    text-align: center;
}

form {
    font-size: 1.5em;
    width: 30%;
    white-space: nowrap;
}

input {
    background-color: #A0A0A0;
    border-color: black;
    box-shadow: .1em .1em #505050;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 1em .5em;
    cursor: pointer;
}

.side {
    float: left;
    width: 9em;
    margin: 1em;
}

#picture {
    position: absolute;
    top: 10em;
    left: 10em;
}


#Heads {
    position: absolute;
    top: 10em;
    left: 10em;
    height: 90em;
    width: 90em;
}

#Eyes {
    position: absolute;
    top: 10em;
    left: 16em;
}

#Noses {
    position: absolute;
    top: 10em;
    left: 16em;
}

#Mouths {
    position: absolute;
    top: 14em;
    left: 17em;
}

#EarsX {
    position: absolute;
    top: 45em;
    left: 9em;
}

#EarsY {
    position: absolute;
    top: 45em;
    left: 85em;
}

#Hair {
    position: absolute;
    top: 10em;
    left: 30em;
}

@media print {
    body {
        position: absolute;
        top: 0em;
        left: 0em;
    }
}
