# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/randomar/flaskapp"
PassengerBaseURI "/"
PassengerPython "/home/randomar/virtualenv/flaskapp/3.5/bin/python"
PassengerAppLogFile "/home/randomar/randomartfun.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END


RewriteEngine On
RewriteCond %{HTTP_HOST} randomartfun\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://randomartfun.com/$1 [R,L]