<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title class="title">Random Art</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script type="text/javascript" src="/static/JavaScript.js"></script>
    <link rel="shortcut icon" href="#" />
</head>
<body>
    <br />
    <h1>Random Art is Fun!</h1>
    <br />
    <h2 class="noprint">This is a work in progress!</h2>
    <br />
    <div class="side noprint">
        <form method="post" action="/">
            <h3>
                Choose
                <input type="submit" value="Head" name="Head"  onclick="addId()"/>
            </h3>
            <h3>
                Choose
                <input type="submit" value="Eyes" name="Eyes" />
            </h3>
            <h3>
                Choose
                <input type="submit" value="Noses" name="Noses" />
            </h3>
            <h3>
                Choose
                <input type="submit" value="Mouths" name="Mouths" />
            </h3>
            <h3>
                Choose
                <input type="submit" value="Ears" name="Ears"  onclick="addId()"/>
            </h3>
            <h3>
                Choose
                <input type="submit" value="Hair" name="Hair" />
            </h3>
            <h3>
                Try Again
                <input type="submit" value="Reset" name="Reset" />
            </h3>
            <button class="noprint" type="button" id="btnPrint" value="Print" onclick="PrintDiv();">Print</button>
        </form>
    </div>
    <div id="picture">
        <div id="Face"  onchange="AddId()">
            <img id="Heads" src="{{url_for('static', filename=fileName)}}"/>
            <img id="Eyes" src="{{url_for('static', filename=eyesName)}}" />
            <img id="Noses" src="{{url_for('static', filename=nosesName)}}" />
            <img id="Mouths" src="{{url_for('static', filename=mouthsName)}}" />
            <img id="EarsX" src="{{url_for('static', filename=earsXName)}}" />
            <img id="EarsY" src="{{url_for('static', filename=earsYName)}}" />
            <img id="Hair" src="{{url_for('static', filename=hairName)}}" />
        </div>
    </div>
</body>
</html>


